$color-main: #1d80b5;
$color-light: #fffbe6;
$color-dark: #001529;
$color-grey-1: #656565;
$color-grey-2: rgba(0, 0, 0, 0.45);
$color-grey-3: #f9f9f9;
$color-background: #fff295;

// sub color
$color-1: #fffbe6;
$color-2: #fff1b8;
$color-4: #ffd666;
$color-5: #ffc53d;
$color-7: #d48806;
$color-8: #ad6800;
$color-9: #874d00;
$color-10: #613400;

$font-size-large: 2rem;
$font-size-small: 1rem;
$font-size: 1.6rem;

$min-height-page: 80vh;

body,
html {
  font-size: 62.5%; // 10px
  background-color: $color-grey-3;
}



// re-custom from ant design
button {
  &.ant-btn-primary {
    background-color: $color-main !important;
    border: none !important;
    &:hover {
      color: #fff !important;
    }
  }
  &.ant-btn-default {
    background-color: #fff !important;
    &:hover {
      color: $color-9 !important;
    }
  }
}

.ant-btn-link {
  color: $color-main;
  background-color: transparent !important;
  border-color: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover {
    color: $color-7 !important;
  }
  &:active {
    color: $color-7 !important;
  }
  &:focus {
    color: $color-7 !important;
  }
}

a {
  color: $color-main !important;
  &:hover {
    text-decoration: none;
    color: $color-7 !important;
  }
}

// checkbox
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $color-main !important;
  border-color: $color-main !important;
}
.ant-checkbox-checked::after {
  border-color: $color-main;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $color-main;
}

// input
input {
  &:hover {
    border: 1px solid $color-main !important;
  }
  &:focus {
    box-shadow: 0 0 0 2px #1d80b546 !important;
    border: 1px solid $color-main !important;
  }
}

// radio
.ant-radio-checked .ant-radio-inner {
  border-color: $color-main;
}
.ant-radio-inner::after {
  background-color: $color-main;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: $color-main;
}
// textarea
textarea {
  &:hover {
    border: 1px solid $color-main !important;
  }
}

// select
.ant-select-selection {
  &:hover {
    border-color: $color-main !important;
  }
  &:focus {
    box-shadow: 0 0 0 2px #1d80b546 !important;
    border: 1px solid $color-main !important;
  }
}

// menu
.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-selected {
  color: $color-main !important;
  border-bottom: 2px solid $color-main !important;
}
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: $color-main !important;
  border-bottom: 2px solid $color-main !important;
}
.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu-submenu:hover {
  color: $color-main !important;
}
.ant-menu-submenu-title:hover {
  .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-arrow::after {
    background: $color-main !important;
  }
}

// dropdown
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: $color-background;
}

// spin
.ant-spin {
  color: $color-main;
}

.message {
  &--error {
    font-size: 16px !important;
    color: red;
    text-align: center;
  }
  &--success {
    font-size: 16px !important;
    text-align: center;
    color: #52c41a;
  }
}

.heading-primary {
  background-image: linear-gradient(to right, #ffd666, #1d80b5);
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.sub-content {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 4rem;
  color: #8c8989;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes item-bottom-top {
  0% {
    transform: translateY(25rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes item-top-bottom {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes item-right-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes item-left-right {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

// tab panel
.ant-tabs-tab {
  &:hover {
    color: $color-main !important;
  }
}
.ant-tabs-tab-active {
  color: $color-main !important;
}

.ant-tabs-ink-bar {
  background-color: $color-main;
}

// slide bar
.makeStyles-blue-23 {
  background-color: $color-main !important;
  box-shadow: 0 12px 20px -10px #fffbe6, 0 4px 20px 0 #fff1b8;
}
