@import "../../../default.style.scss";

.user-update-info {
  font-size: 16px;
  font-size: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    font-size: 1.6rem;
  }
  textarea {
    font-size: 1.6rem;
  }
  .ant-alert {
    margin-bottom: 15px;
  }
  .user-update-info-form {
    margin-bottom: 3rem;
    .content-form {
      &__info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .content-form__info--block {
          margin: 0px 7rem;
        }
      }
      &__about {
        .about-input {
          min-height: 150px;
          margin-top: 20px;
        }
      }
      &__cost-per-hour{
        $size: 150px;
        .ant-input-number {
          min-width: $size;
            input: {
               min-width: $size;
            }
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      button {
         max-width: 200px ;
          margin: 30px auto 10px;
      }
    }
  }
  .ant-form-item-required {
    margin: 0px;
  }
  .ant-form-item-label {
    label {
      margin: 0px;
    }
  }
}

.user-update-info-loading {
  text-align: center;
  min-height: $min-height-page;
}
.user-update-form__title {
  color: $color-main;
  font-weight: bold;
}

#UpdateInfoUserComponent_tags {
  max-width: 900px !important;
}
#UpdateInfoUserComponent_about {
  max-width: 900px !important;
}
