@import '../../../default.style.scss';

.main-footer {
  font-size: 16px;
  background-color: $color-background;
  padding: 40px 0px 20px;
  &__top {
    padding: 0px 150px;
    .ant-col {
      padding-right: 20px;
    }
    &__logo {
      width: 12em;
      margin-bottom: 2em;
      a {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &__icon-info {
      display: flex;
      align-items: center;
      margin: 10px 0;
      .ant-avatar {
        width: 30px;
        height: 30px;
        margin-right: 0.6em;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.65);
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
      }
    }
    &__info-title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    &__info-item {
      margin: 10px 0;
      a {
        color: rgba(0, 0, 0, 0.65) !important;
        text-decoration: none;
      }
    }
  }
  .ant-divider {
    background-color: $color-main;
  }
  &__bottom {
    text-align: center;
  }
}
