@import '../../../../../default.style.scss';

.roomate-chat-card-item {
    display: flex;
    align-items: center;
    font-size: $font-size;
    padding: 10px 5px;
    margin: 5px 0px; 
    &.enable{
        &:hover{
            cursor: pointer;
            background-color: $color-2;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.192);
        }
    }
    &.active{
        background-color: #fffbe6;
        border-right: 5px solid #1d80b5;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.192);

    }
    &__avatar{
        $size: 50px;
        margin-right: 8px;
        img {
            width: $size;
            height: $size;
            border-radius: 50%;
        }
    }
    &__right {
        &--name {
            font-weight: bold;
            font-size: 1.6rem
        }
    }
}