.count-up {
  margin: 5rem 6rem;
  text-align: center;
  animation-name: item-right-left;
  animation-duration: 3s;

  .content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5rem 0 3rem 0;
    justify-content: space-between;

    &__box {
      background-image: linear-gradient(
        to right bottom,
        rgba(#1d80b5, 0.8),
        rgba(#ffd200, 1)
      );
      border-radius: 4px;
      box-shadow: 0 1rem 0.5rem rgba(#ffd200, 0.15);
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      color: #fff;
      padding: 2rem;
      margin: 0 2rem;
      width: 200px;
      min-width: 200px;

      .icon {
        background-image: linear-gradient(to right, #fff, #fff);
        font-size: 5rem;
        font-weight: 600;
        text-transform: uppercase;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }

      .count {
        font-size: 3rem;
        font-weight: 600;
      }

      .sub {
        font-size: 2rem;
        font-weight: 500;
      }

      &:hover {
        transform: translateY(-15px);
      }
    }
  }
}
