.popular {
  text-align: center;
  margin: 3rem auto;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  padding: 10rem;
  animation-name: item-bottom-top;
  animation-duration: 3s;

  .content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10rem 0 5rem 0;

    &__box {
      backface-visibility: hidden;
      background: #fff;
      padding: 2rem;
      margin: 0 2rem;
      height: 250px;
      border-radius: 4px;
      box-shadow: 0 1rem 0.5rem rgba(#000, 0.15);
      transition: 0.3s;
      width: 250px;
      min-width: 250px;

      .icon {
        // background-image: linear-gradient(to right, #ffd666, #1d80b5);
        background-color: #1d80b5;
        font-size: 4rem;
        text-transform: uppercase;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }

      &:hover {
        transform: translateY(-15px);
      }
      // }
    }
  }
    &__heading {
      font-size: 2rem !important;
      white-space: initial;
      overflow: hidden;
    }

    &__sub {
      font-size: 1.5rem !important;
      margin-top: 1rem !important;
      color: rgba(#000, 0.8) !important;
      white-space: initial;
      overflow-x: hidden;
    }
}
