@import "../../../../../default.style.scss";

.chat-room {
  margin-right: 5px;
  position: relative;
  height: 90vh;
  background-color: #e8e8e8;

  &__title {
    border-bottom: 1px solid #d9d9d9;
    // box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.288);
    background-color: #e8e8e8;
  }
  &__message {
    margin-bottom: 20px;
    max-height: 65vh;
    overflow-y: auto;
    width: 96%;
    &--item {
      border-radius: 5px;
      width: fit-content;
      padding: 5px 10px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.089);
      margin-bottom: 5px !important;
      .content {
        display: inline;
      }
      .time {
        color: #8c8c8c;
        font-size: $font-size-small;
      }
      &.from-roomate {
        text-align: left;
        border-top-left-radius: 0px;
        border: solid 1.2px #fff1b8;
        background-color: #fff;
      }
      &.from-me {
        margin: auto 1px auto auto;
        background-color: #fff1b8;
        .time {
          text-align: right;
        }
        .content {
          border-top-right-radius: 0px;
          margin-right: 0xp;
          width: fit-content;
          text-align: right;
          margin: auto 1px auto auto;
        }
      }
    }
  }
  &__input {
      position: absolute;
    // position: fixed;
    bottom: 13px;
        min-width: 98%;
        margin: auto;
        display: flex;
        justify-content: center;

    input {
      padding: 15px;
      // width: 260px;
        min-width: 90%;
        min-height: 40px;
        border: 1px solid $color-1 !important;
        border-radius: 3px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.219);

      &:focus {
        outline: $color-main;
      }
    }
    button {
      width: 50px;
      margin-right: 10px;
      background-color: $color-main;
      border: none;
      border-radius: 3px;
      color: #fff;
    }
  }
}
