.feature-teacher {
  background-image: linear-gradient(to bottom right, #000, #434343);
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  padding: 10rem;
  margin: 3rem 0 6rem 0;
  text-align: center;
  animation-name: item-bottom-top;
  animation-duration: 3s;

  .info-teacher {


    li {
      width: 250px !important;
      margin: 0 2rem;
    }
    .gutter-box {
      background: lighten($color: #000000, $amount: 20%);
      border-radius: 4px;
      box-shadow: 0 1rem 0.5rem rgba(#000, 0.15);
      transition: 0.3s;
      padding: 3rem 1rem;
      margin: 13rem 2rem;
      width: 250px;

      &:hover {
        transform: translateY(-15px);
      }
    }
    &__avatar {
      background-color: khaki;
      width: 16rem;
      height: 16rem;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: -50%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__content {
      padding-top: 10px;
      color: #fff !important;

      .ant-rate {
        display: flex;
        justify-content: center;
        
        li {
          margin: 0 !important;
        }

        .ant-rate-star {
          width: 20px !important;
        }
      }

      h4 {
        color: #fff;
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
        margin-top: 1rem;
        text-align: left;
      }

      hr {
        background: rgba(#eee, .15);
      }
  
      i {
        vertical-align: middle !important;
      }
  
      .ant-btn {
        transition: .3s;
        margin-top: .5rem;
        background-color: #1d80b5;
        span {
          color: #fff;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 0 2px #1d80b546 !important;
      }
      }
    }

    button:focus {
      outline: none;
    }
  }
}
