.teacher-list {
    padding: 40px 0;
}

.img-responsive {
    width: 100%;
}

.teacher-list .card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teacher-list .card {
    border: 1px solid #e2e6ea;
    border-radius: 0 0 4px 4px;
}

.teacher-list .avatar {
    position: relative;
    display: block;
}

.teacher-list .price {
    position: absolute;
    bottom: 15px;
    right: 0;
    font-size: 18px;
    background-color: #f0564a;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px 0 0 4px;
}